# Logs
logs
*.log

# Compiled output
dist
*.js
*.map

# Dependency directories
node_modules

# Environment variables
.env

# IDE-specific files
.vscode
.idea

# macOS files
.DS_Store

# TypeScript build cache
.tsbuildinfo
